{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Sachin Dhiman - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of John Elder."/>
<meta charset="UTF-8"> 


<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>



    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	

<body id="top">


<div id="cv" class="instaFade">
	
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/profile.jpg' %}" alt="John Elder" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Sachin Dhiman</h1>
			<h2 class="quickFade delayThree">Python Specialist</h2>
			
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>sachinndhimann@gmail.com</a></li>
				<li>Gurugram</li>
				<li>+91 9815431580</li>
				<li><a href="https://github.com/sachinndhimann">GitHub Profile</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I am an automation and technology enthusiast. I have been into automation from my college days and
continuing it to my professional career as well.I am currently working as a Python Specialist in Accenture. 
I like playing and watching cricket, also played cricket for Mumbai- U19 in year 2010 </p>
				</div>
			</article>
			
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Accenture</h2>
					<h3>Desgination: Technology Architecture Delivery Sr Analyst</h3>
					<p class="subDetails">December 2019 - Present</p>
					<p>Role: As a Python Specialist</p>
				</article>
				<br/>
				<article>
					<h2>Capgemini Technology Services</h2>
					<h3>Designation: Consulant</h3>
					<p class="subDetails">August 2015 - November 2019</p>
					<p>
					<h3><Applied Innovation Exchnage</b></h3>
					
					<li>Lead a Team of Interns in Innovation Lab</li>
                    <li>Development of Business Uses Cases from different Sector Hubs</li>
                    <h3>Financial Services Business Unit</h3>
					          <li>System and Integration Testing of LTC and Life Underwriting System</li>
                              <li>Development of Automation Regression Suite for LTC Underwriting System</li>
                              <li>Developed Automated PDF Testing Solution with minimal manual intervention</li>
                              <li>Development and Presentation of Innovation Components at Different Business Units Internally</li>
					
					
					
					</p>
				</article>
				<br/>
				
			</div>
			<div class="clear"></div>
		</section>
		
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Patents and Research Paper</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Patent on Intelligent Algorithm for automatic multistoried parking system: (03/2015 – 05/2015)</h2>
					<p class="subDetails"><a href="https://rd.springer.com/chapter/10.1007%2F978-981-10-6614-6_8" target="new">Link to Springer</a></p>
					<p>
					Description: The system will automatically guide the user to vacant parking slot, system will keep track of vehicles by remembering the
                                 vehicle number and will allow user to locate the exact parking spot of his vehicle in the multi-story parking from any location in the building.
                                  <br> <br>  The present invention provides an easy and secure parking system with minimal dependence on hardware. This ensures that system is
                                 more robust and requires very limited maintenance.
					
					</p>
					
				</article>
				<br/>
				
			</div>
			<div class="clear"></div>
		</section>
		
		<br/>
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python/Flask/Django</li>
					<li>RobotFramework</li>
					<li>UIPath</li>
					<li>NLP</li>
					<li>Edge Computing</li>
					<li>Image Processing</li>
					<li>Selenium</li>
					<li>Internet of Things</li>
					<li>ChatBot</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Chitkara School of Engineering and Technology,Solan</h2>
					<p class="subDetails">Bachelor of Engineering in Electronics and Communication</p>
						<p>Year: 2011-2015</p>
						
					<br/><Br/>
				</article>
				
				
			</div>
			<div class="clear"></div>
		</section>
		<br/>
	</div>
</div>

</body>
</html>